<%- include ("includes/header") %>

<div class="container-fluid pb-0">
  <div class="video-block section-padding">
    <div class="row">
      <div class="col-md-8">
        <div class="single-video-left">
          <div class="single-video">
            <video
              id="videoPlayer"
              class="video-js"
              controls
              width="760"
              height="400"
              preload="auto"
              data-setup="{}"
              poster="<%= video.thumbnail %>">
              <source src="<%= video.filePath %>" type="video/mp4" />
              <source src="<%= video.filePath %>" type="video/webm" />
              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
              </p>
            </video>
          </div>
          <div class="single-video-title box mb-3">
            <h2 id="videoTitleHeading">
              <%= video.title %>
            </h2>
          </div>
          <div class="single-video-author box mb-3">
            <div class="float-right">
              <input type="hidden" id="videoId" value="<%= video._id %>">
              <input type="hidden" id="userId" value="<%= user._id %>">
              <input type="hidden" id="category" value="<%= video.category %>">
              <input type="hidden" id="videoTitle" value="<%= video.title %>">
              <input type="hidden" id="watch" value="<%= video.watch %>">
              <input type="hidden" id="filePath" value="<%= video.filePath %>">
              <input type="hidden" id="minutes" value="<%= video.minutes %>">
              <input type="hidden" id="seconds" value="<%= video.seconds %>">
              <input type="hidden" id="thumbnail" value="<%= video.thumbnail %>">
            </div>
            <img class="img-fluid" style="object-fit: cover;" src="<%= video.user.image %>" onerror="this.src = 'public/img/user_placeholder.jpg'" alt="">
            <p><a href="/channel?c=<%= video.user._id %>"><strong><%= video.user.first_name + " " + video.user.last_name %></strong></a> <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></span></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-video-right">
          <div class="row">
            <div id="related-videos" class="col-md-12">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

<script type="text/javascript">
  var category = document.getElementById("category").value;
  var videoId = document.getElementById("videoId").value;

  $(function () {
    var ajax = new XMLHttpRequest();
    ajax.open("GET", "/get-related-videos?category=" + category + "&videoId=" + videoId, true);

    ajax.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        var videos = JSON.parse(this.responseText);
        var html = "";

        for (var a = 0; a < videos.length; a++) {
          html += '<div class="row">';
          html += '<div class="col-md-5">';
          html += '<a class="play-icon" href="watch?v=' + videos[a].watch + '"><i class="fas fa-play-circle"></i></a>';
          html += '<a href="watch?v=' + videos[a].watch + '"><img style="width: 150px; height: 100px; object-fit: cover;" src="' + videos[a].thumbnail + '"></a>';
          html += '<div class="time" style="right: 5px; bottom: 12px;">' + videos[a].minutes + ":" + videos[a].seconds + '</div>';
          html += '</div>';

          html += '<div class="col-md-7">';
          html += '<div class="video-title">';
          html += '<a href="watch?v=' + videos[a].watch + '">' + videos[a].title + '</a>';
          html += '</div>';
          html += '</div>';
          html += '</div>';
        }

        document.getElementById("related-videos").innerHTML = html;
      }
    };

    ajax.send();
  });
</script>

<%- include ("includes/footer") %>
